<!DOCTYPE html>
<html>
  <head>
    <title>Facial Emotion Recognition</title>
    <link rel="stylesheet" src="main.css">
  </head>
  <body>
    <h1>Facial Emotion Recognition</h1>
    <form>
      <input type="file" id="image-input" name="image">
      <button type="button" onclick="sendImage()">Submit</button>
    </form>
    <p id="result"></p>
    <img id="image-display" src="#" alt="Image preview">
    <script>
      function sendImage() {
        const fileInput = document.getElementById("image-input");
        const file = fileInput.files[0];
        const formData = new FormData();
        formData.append("image", file);
        fetch("/predict", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("result").textContent = data.emotion;
            document.getElementById("image-display").src = URL.createObjectURL(file);
          })
          .catch((error) => console.error(error));
      }
    </script>
  </body>
</html>
